<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- axios cdn -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Form</title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= desc %></p>

  <!-- <h2>GET 요청</h2>
  <form action="/getForm" name="login1" method="get">
    <input 
    type="text" 
    name="id" 
    placeholder="ID" 
    minlength="3"
    required />

    <input 
    type="password" 
    name="pw" 
    placeholder="PW" 
    minlength="4"
    required />

    <input 
    type="email" 
    placeholder="EMAIL" 
    required>

    <input 
    type="number" 
    placeholder="GRADE"
    min="3" 
    max="7"
    required />
    
    <button type="submit">제출</button>
  </form>
<br> -->

<!-- <h2>POST 요청</h2>
<form action="/postForm" name="login2" method="post"> -->
  <!--대소문자, 한글, 숫자, 4자이상 정규식-->
  <!-- <input 
  type="text" 
  name="id" 
  placeholder="ID"
  pattern="^([a-zA-Z0-9가-힣]){4,}$"
  title="아이디는 대소문자, 한글, 숫자, 4자이상 입력해주세요."
  required/> -->

  <!--소문자, 숫자로 8자리 이상 12자리 이하-->
  <!-- <input 
  type="password" 
  name="pw" 
  placeholder="PW"
  pattern="^([a-z0-9]){8,12}$"
  title="비밀번호는 소문자, 숫자로 8자리 이상 12자리 이하로 입력해주세요."
  required/>

  <button type="submit">제출</button>
</form> -->


<script>
  //form 태그의 name 속성값으로 폼 선택하기
  // console.log(document.forms['login1']);
  // console.log(document.forms['login2']);
</script>


<!--실습26,27: 해설코드는 '10풀이' 폴더에 있음 -->
<!-- <form action="/postForm" name="register" method="post">
  <label for="name">이름<input type="text"  name="username" id="name"></label>


  <fieldset>
    <legend>성별</legend>
    <label for="gender" name="gender">
      <input type="radio" name="gender" value="남자">남자
      <input type="radio" name="gender" value="여자" >여자
    </label>
    </fieldset>


<fieldset>
  <legend>생년월일</legend>
<select name="year" id="year">
  <option>2020</option>
  <option>2021</option>
  <option>2022</option>
</select>
<select name="month" id="month">
  <option>10</option>
  <option>11</option>
  <option>12</option>
</select>
<select name="date" id="date">
  <option>29</option>
  <option>30</option>
  <option>31</option>
</select>
</fieldset>


<fieldset>
  <legend>관심사</legend>
  <label for="favorite" name="favorite">
<input type="checkbox" name="favorite" value="1">1
<input type="checkbox" name="favorite" value="2">2
<input type="checkbox" name="favorite" value="3">3
<input type="checkbox" name="favorite" value="4">4
</label>
</fieldset>

<fieldset>
<legend>좋아하는 색상</legend>
<input type="color" name="color"><br>
</fieldset> -->
<form action="/postForm" name="register" method="post">
<fieldset>
  <legend>아이디 및 비밀번호</legend>
  <label for="id">아이디</label>
  <input type="id" name="id">
  <br>

  <label for="password">패스워드</label>
  <input class="password" type="password" id="password" name="pw">
  </fieldset>

  <button type="button" onclick="axiosPost();">제출</button>

</form>

  <div class="result"></div>

  <script>
  const resultBox = document.querySelector('.result');

  function axiosPost() {
        console.log('####### click axiosPost #######');

        const form = document.forms['register'];
        const data = {
          id: form.id.value,
          pw: form.pw.value
        };

        axios({
          method: 'POST',
          url: '/axiosPost',
          data: data, // POST 요청은 "data"에 정보를 실어서 보내야 됨
        }).then(function (response) {
          console.log(response);

          resultBox.textContent = response.data;
        });
      }
  </script>

</body>
</html>