<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>report1</title>
</head>
<body>
  <form action="" name="" method="get">
    <input type="text" name="id" placeholder="ID"/>
    <input type="password" name="pw" placeholder="PW"/>
    <button type="submit">제출</button>
  </form>
<!--text-->
  <form action="">
    <input type="text">
  </form>

<!--radio-->
<form action="">
  <input type="radio" name="" id="" checked>남자
	<input type="radio" name="" id="">여자
</form>

<!--select-->
<form action="">
  <select name="" id="">
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
  </select>
</form>

<form action="">
  <input type="checkbox">
</form>
</body>
</html>
이름 text, 성별체크(동그란 체크) radio, 생년월일select, 관심사(네모체크박스) checkbox