* {
  margin: 0;
}

.Header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .menu-item {
    margin: 0 8px;
  }
}

.MainPage {
  background-color: rgba(255, 192, 203, 0.477);

  min-height: 100vh;

  &.Dark {
    background-color: black;
    color: white;
  }
}

.ProductPage {
  background-color: beige;

  min-height: 100vh;

  .ProductItem {
    text-decoration: none; //링크 밑줄 없어짐
    color: black; //텍스트 색상 블랙

    ul{
      margin: 30px auto 0 auto;
      width: 80vw;
      background-color: white;
    }

    &:hover {
      font-weight: 700;
    }
  }
}

.ProductDetailPage {
  background-color: rgba(216, 112, 147, 0.208);

  min-height: 100vh;
}

.NotFound {
  background-color: rgba(128, 0, 128, 0.288);

  min-height: 100vh;
}