<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>실습 41 - session</title>
</head>
<body>
  <h1>index.ejs</h1>


  <!--isLogin === true; 00님 환영합니다 + 로그아웃 a태그 -->
  <% if(isLogin === true) { %>
    <p><%= user %>님 환영합니다!</p>
    <a href="/logout">로그아웃</a>
  <% } else { %>
    <a href="/login">로그인</a>
  <% } %>
    <!--isLogin === false; 로그인 a태그 -->
</body>
</html>